*
{
    margin: 0px;
    padding: 0px;
}
.header
{
    background-color: aqua;
    line-height: 70px;
    padding-left:30px ;
}
a{
    text-decoration: none;
}
.logout
{
    float: right;
    padding-right: 30px;
}
.lin
{
    text-decoration: none;
}
ul{
    list-style: none;
    background-color:#6f6d6d;
    width: 15%;
    height: 100%;
    padding-top: 5%;
    padding-right: 20px;
    position: fixed;
    text-align: center;
}
ul li
{
    font-size: 25px;
    padding-bottom: 30px;
}
ul li a
{
    color: white;
    font-size: bold;
}
ul li a:hover
{
    color: skyblue;
    font-weight: lighter;
}